.Overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(220, 219, 219, 0.708);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-content{
    max-width: 500px;
    background: white;
    position: relative;
    border-radius: 5px;
}